extends _base.pug
block personal
  meta(name="description", content="")
  title Nuovo titolo
block link
block main
  section.container
    h1 Titles
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt perspiciatis atque ipsum nihil repellendus unde dicta iure deleniti numquam facilis.
block mainScript  
    
      
      
