extends _base.pug
block personal
  meta(name="description", content="Studia in America praticando sport e imparando l'inglese!")
  title Fiorella Bonfanti Sports | Come, train and learn in U.S.A
block link
  link(href="https://fonts.googleapis.com/css?family=Bree+Serif|Candal", rel="stylesheet")
block main
  svg.svg-inline--fa.fa-phone.fa-w-16(aria-hidden='true', focusable='false', data-prefix='fas', data-icon='phone', role='img', xmlns='http://www.w3.org/2000/svg', style="display: none")
    defs
      symbol(id="phone", viewBox='0 0 512 512')
        title Phone Icon
        path(fill='#F2682A', d='M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z')
  svg.svg-inline--fa.fa-envelope.fa-w-16(aria-hidden='true', focusable='false', data-prefix='fas', data-icon='envelope', role='img', xmlns='http://www.w3.org/2000/svg', style="display: none")
    defs
      symbol(id="mail", viewBox='0 0 512 512')
        title Mail Icon
        path(fill='#F2682A', d='M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z')
  //- .bend--small
  .intro
    .intro__inside
      p.logotype Fiorella Bonfanti Sport
      h1.title Come, train and learn in U.S.A
      p.summary Perchè non unirti ai milioni di studenti che  viaggiano ed anche studiano in America ogni anno? Arriverai a parlare inglese fluentemente mentre vivi lo stile di vita americano. Che tu voglia trascorrere 2 settimane  un anno  scolastico  in Florida, allenarti con il grande tennis a Washington DC,  abbiamo sicuramente il programma giusto per te.
  .band
  .container
    .grid
      .col1
        .header
          //- img.logo__img(src="img/summer-camps-italy-logo.png", alt="summer-camps-italy-logo")
          //- .logo
          //-   img.logo__img(src="img/summer-camps-italy-logo.png", alt="summer-camps-italy-logo")
          
          //- p.payoff Campi sportivi estivi e corsi in inglese di un semestre o anno scolastico in scuole superiori e college americani
          //- p.summary Vivi un'esperienza all'estero per potenziare lo sport, la lingua inglese, stringere nuove amicizie, potenziare il tuo curriculm vitae in un ambiente internazionale entusiasmante!
           Contattaci e programmeremo insieme il tuo corso di studio in America
          p.summary Trascorrere le vacanze in Florida o nel Nord degli Stati Uniti, praticando lo sport,  migliorare l’inglese, fare nuove conoscenze con ragazzi che arrivano da tutto il Mondo, con amicizie che dureranno nel tempo…. un Summer camp intenso e coinvolgente in alcune delle più’ belle accademie o high schools d’America.
          //- picture(style="width: 100px; height: 100px;")
          //-   source(srcset="img/webp/sport-village.webp", type="image/webp")  
          //-   img.img--border-green(src="img/sport-village.jpg", alt="kids having fun") 
          p.summary Possibilita’ di studiare e allo stesso tempo allenarsi con un sistema collegiale americano che non solo permette  la coesistenza tra i due, ma premia gli studenti/atleti meritevoli con Borse di Studio che permettano loro di studiare anche a costo zero.
          p.summary Lo sport è un elemento importante nella cultura americana e nelle università è parte fondamentale della vita studentesca. Le competizioni sportive dei College attirano infatti l’attenzione di gran parte degli studenti e creano un forte senso di appartenenza che dura per tutta la vita. Lo sport è vissuto con grande passione sia dagli atleti che lo praticano in prima persona sia da tutto il resto dell’università che sostiene le proprie squadre in un clima di festa.
          p.summary Le Università Americane mettono a disposizione cospicue borse di studio a tutti gli studenti il cui talento sportivo sia in grado di apportare qualità ai propri team.
          h2 Contattaci per informazioni!
          .info
            svg(style="width:16.8px; height: 16.8px; margin-right: 8px")
              use(xlink:href="#phone")
            p: a(href="tel:+39 329/ 4614236") 329 461436
          .info  
            svg(style="width:16.8px; height: 16.8px; margin-right: 8px")
              use(xlink:href="#mail")
            p: a(href="mailto:fbsports57@gmail.com") fbsports57@gmail.com
      .col2
        .figurez     
          picture.img.absolute
            source(srcset="img/webp/sport.webp", type="image/webp")  
            img.img2.img--border-green(src="img/sport.jpg", alt="kids having fun") 
          picture.img.absolute
            source(srcset="img/webp/golf.webp", type="image/webp")  
            img.img3.img--border-red.rotate2(src="img/golf.jpg", alt="kids having fun") 
          picture.img.absolute
            source(srcset="img/webp/tennis.webp", type="image/webp")  
            img.img4.img--border-red.rotate3(src="img/tennis.jpg", alt="kids having fun") 
    //- svg(class="wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320")
    //-   path(fill="#25CED1" fill-opacity="1" d="M0,64L60,80C120,96,240,128,360,160C480,192,600,224,720,202.7C840,181,960,107,1080,64C1200,21,1320,11,1380,5.3L1440,0L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z")
block mainScript
  //- script(src="js/index.js")