$bgc: #f5f6f6; // background-color
$tc: #424242; // text-color
$green: #00A64F; // rgba(0, 166, 79, 1)
$greenRGBA: rgba(0, 166, 79, 1);
$green2: #5B9A42;
$red: #ED1C23; // rgba(237, 28, 35, 1)
$redRGBA: rgba(237, 28, 35, 0.8);
$yellow: #EFC428; // rgba(239, 196, 40, 0.8)
$orange: #F2682A;
$gray: #EFEEEA;


$vr: 1.5rem;
$gutter: 1rem;

$primary-text: 'Candal',
sans-serif;
$secondary-text: 'Bree Serif',
serif;

$text-shadow: 0 5px 8px rgba(0, 0, 0, 0.80);

$type6: 4.352rem;
$type5: 3.052rem;
$type4: 2.441rem;
$type3: 1.953rem;
$type2: 1.563rem;
$type1: 1.25rem;
$type0: 1rem;
$type-1: 0.8rem;
$type-2: 0.64rem;
$type-3: 0.5rem;
$type-4: 0.325rem;