@import "custom-normalize";
@import 'mixins';
@import 'variables';
@import 'utilities';

:root {
  border: 12px solid #009DDC;
  font-size: 21px;
  font-family: $secondary-text;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: $tc;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  position: relative;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

@import 'components/form';
@import 'components/button';


main {
  position: relative;

  // &:after {
  //   content: "";
  //   background: url("../img/sport_tile_sm.png");
  //   opacity: 0.3;
  //   top: 0;
  //   left: 0;
  //   bottom: 0;
  //   right: 0;
  //   position: absolute;
  //   z-index: -1;
  // }
}

.container {
  // position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: $vr*4;

  // background-color: red;
  // height: 100vh;

  // place-items: center;

  // min-width: 360px;
}

.wave {
  margin-top: auto;

  // position: fixed;
  // bottom: 0;
  // z-index: -1;
}

.intro {



  // background-image: url("../img/usa.jpg");
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-blend-mode: overlay;
  // background-color: #222;
  // color: #fff;


  &__inside {
    margin: 0 auto;
    max-width: 1280px;
    padding: $vr*2 12px $vr*2 12px;

    // padding-top: 64px;
    @include xl {
      padding: $vr*2 0 $vr*2 0;
    }
  }

  .summary {
    font-size: $type0;


    @include lg {
      font-size: $type1;
    }
  }
}

.bend--small {
  height: 12px;
  background-color: #009DDC;
}

.band {
  position: relative;
  height: $vr*6;
  margin: 0 auto;
  max-width: 1280px;
  background-image: url("../img/usa.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid black;
  background-blend-mode: overlay;
  border: $type-4 dashed #009DDC;
  transform: scale(1.2) translateX(20px) rotate(1deg);

  .pictures {
    position: relative;

    .picture {
      &:first-child {
        top: -104px;
        left: -48px
      }
    }
  }
}

.grid {
  position: relative;
  // top: -$vr*4;
  background-color: rgb(255, 255, 255);
  padding: 24px 12px;
  border-radius: 0px;
  margin: 0 auto;
  margin-top: $vr;
  max-width: 1280px;
  display: grid;

  gap: 48px;

  @include lg {
    grid-template-columns: 1.5fr 1fr;
  }

  @include xl {
    padding: 0;
  }
}

.logotype {
  font-size: $type1;
  // margin-left: 8px;
}

.col1,
.col2,
.center {
  display: grid;
  place-items: center;
}

.col2 {
  margin-top: $vr*3;

  @include lg {
    margin-top: 0;
  }
}

// .center {
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

.figurez {
  position: relative;
  width: 400px;
  height: 400px;
  // width: 300px;
}

.title {
  font-size: $type3;
  line-height: 100%;
  margin-bottom: $vr / 2;

  @include lg {
    font-size: $type5;
  }
}

.header {
  postion: relative;
}

.logo {
  position: relative;
  margin-bottom: $vr;
  left: -40px;
  display: flex;
  // flex-direction: column;
  align-items: center;
  // margin-right: auto;


  &__img {
    width: 100px;

    // position: absolute;
    // opacity: 0.5;
    // top: -32px;
    // left: -32px;
    // transform: scale(2);
  }
}

.summary {
  &+.summary {
    margin-top: $vr;
  }
}

.img {
  &:first-child {
    top: 0;
    left: 0;
    transform: scale(1.2) translateX(20px);
  }

  &:nth-child(2) {
    top: -104px;
    left: -48px
  }

  &:last-child {
    bottom: -128px;
    right: -32px
  }
}

.img2 {
  height: auto;
  // width: 100%;
  width: 400px;
}

.img3 {
  width: 320px;
}

.img4 {
  width: 300px;
}

.absolute {
  position: absolute;
  // top: 0;
  // left: 0;
  width: 300px;
}

.img--border-red {
  // object-fit: cover;
  @include box-shadow(2);
  // position: relative;
  background-clip: border-box;
  border-right: $type-4 dashed $orange;
  border: $type-4 dashed $orange;
}

.img--border-green {
  // object-fit: cover;
  @include box-shadow(2);
  // position: relative;
  background-clip: border-box;
  border-right: $type-4 dashed $orange;
  border: $type-4 dashed $orange;
}

.rotate1 {
  transform: rotate(2deg);
}

.rotate2 {
  transform: rotate(-3deg);
}

.rotate3 {
  transform: rotate(5deg);
}

.info {
  display: flex;
  align-items: center;

  &:last-child {
    // margin-bottom: $vr * 2;
  }
}

.credits {
  font-size: $type-2;
}


// @import 'components/button.scss';
// @import 'components/hero.scss';
// @import 'components/card';
// @import 'components/form';
// @import 'components/section';