section.ie#ie.u-show-hide
  h2.section__title ATTENTION PLEASE!
  .section__text
    p  To use this website we reccomend a modern Internet browser with JavaScript and <a href="#">Cookies</a> enabled such as
    ul.section__list
      li <a href="#">Chrome</a> by Google
      li <a href="#">Firefox</a> by Mozilla
      li <a href="#">Edge</a> by Microsoft
      li <a href="#">Safari</a> by Apple
    p We are no longer supporting Internet Explorer. There are known issues and vulnerabilites associated with this browser and Microsoft itself discourage their users from using it since they're no longer maintaing it.
    p If you are stuck with older version of Windows (like Windows Vista or Widnows XP) you will need to download Chrome or Firefox.
    button.btn#ie-button GOT IT! CLOSE THIS